.form {
  padding: 2.8rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-family: "Ysabeau Office", sans-serif;
  // margin: 1.5rem 0;
  background-position: bottom;
  background-image: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjF8fHNlYXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;

  h3 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 1rem;
  }

  .form-input {
    display: flex;
    flex-wrap: nowrap;

    button,
    select,
    input {
      background-color: #fff;
      color: rgba(40, 75, 155, 255);
      font-family: inherit;
      border: none;
      border-radius: 1rem;
      font-weight: 700;
      cursor: pointer;
      padding: 1rem 1.8rem;
      margin: 0.5rem 0.2rem;
    }

    input:focus {
      outline: none;
    }

    button:hover {
      background-color: rgba(107, 166, 237, 255);
      color: #fff;
    }
  }
}
