.form {
  padding: 2.8rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-family: "Lugrasimo", cursive;
  margin: 2rem 0;
  background-position: bottom;

  h3 {
    font-size: 2.2rem;
    color: #fff;
    margin-bottom: 1rem;
  }

  .form-input {
    display: flex;
    flex-wrap: nowrap;

    button,
    select,
    input {
      background-color: #fff;
      color: rgba(40, 75, 155, 255);
      font-family: inherit;
      border: none;
      border-radius: 1rem;
      font-weight: 700;
      cursor: pointer;
      padding: 1rem 2.2rem;
      margin: 1rem 0.2rem;
    }

    input:focus {
      outline: none;
    }

    button:hover {
      background-color: rgba(107, 166, 237, 255);
      color: #fff;
    }
  }
}
