.list {
  color: #13a30b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  ul {
    list-style: none;
    width: 65%;
  }

  .sort {
    width: 100%;
    display: flex;
    justify-content: space-around;

    &-select,
    &-button {
      color: #13a30b;
      margin: 1.2rem;
      font-size: 1.5rem;
      padding: 1rem 1rem;
      border-radius: 10px;
      background-color: #fff;
      font-family: "Lugrasimo", cursive;
    }
  }
}
