.list {
  color: rgba(40, 75, 155, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  ul {
    list-style: none;
    width: 70%;
  }

  .sort {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;

    &-select,
    &-button {
      background-color: #fff;
      color: rgba(107, 166, 237, 255);
      font-family: "Lugrasimo", cursive;
      border: none;
      border-radius: 1rem;
      padding: 1rem 2rem;
      font-size: 1.5rem;
      padding: 1rem 1rem;
      margin: 1.2rem;
      cursor: pointer;
    }

    &-select:hover,
    &-button:hover {
      background-color: rgba(0, 150, 199, 255);
      color: #fff;
    }
  }
}
