.item {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Ysabeau Office", sans-serif;
  color: rgba(40, 75, 155, 255);

  input[type="checkbox"] {
    height: 2rem;
    width: 2rem;
    accent-color: rgba(40, 75, 155, 255);
  }

  button {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.8rem;
    padding: 1rem;
    color: rgb(142, 61, 3);
  }
}
