.footer {
  text-align: center;
  font-weight: 700;
  padding: 3.5rem 1rem;
  font-family: "Lugrasimo", cursive;
  font-size: 2rem;
  background-image: url(https://images.unsplash.com/photo-1505228395891-9a51e7e86bf6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTJ8fGJlYWNofGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60);
  opacity: 0.8;
  background-position: bottom;
}
